{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Task Hub Skill API",
    "version": "3.2.25",
    "description": "Public skill contract for execute/poll/presentation/account balance/account ledger via gateway-managed public bridge."
  },
  "servers": [
    {
      "url": "https://gateway-api.binaryworks.app"
    }
  ],
  "x-portal-actions": {
    "portal.skill.execute": {
      "summary": "Execute capability run via host proxy",
      "method": "POST",
      "path": "/agent/skill/execute",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteOutput"
      },
      "required_scope": "execute"
    },
    "portal.skill.poll": {
      "summary": "Poll run state via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPollInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPollOutput"
      },
      "required_scope": "poll"
    },
    "portal.skill.presentation": {
      "summary": "Fetch presentation payload via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}/presentation",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationOutput"
      },
      "required_scope": "presentation"
    },
    "portal.account.balance": {
      "summary": "Read account points balance via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/balance",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceOutput"
      },
      "required_scope": "account_read"
    },
    "portal.account.ledger": {
      "summary": "Read account points ledger via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/ledger",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerOutput"
      },
      "required_scope": "account_read"
    }
  },
  "x-host-auth-onboarding": {
    "type": "bridge_managed",
    "primary_entrypoint_endpoint": "/agent/public-bridge/invoke",
    "primary_entrypoint_first_time_error": {
      "code": "AUTHORIZATION_REQUIRED",
      "response_fields": [
        "authorization_url",
        "entry_user_key",
        "gateway_api_base_url",
        "auth_session_id",
        "retry_after_seconds"
      ]
    },
    "agent_uid_format": "^agent_[a-z0-9][a-z0-9_-]{5,63}$",
    "conversation_id_format": "^[A-Za-z0-9._:-]{8,128}$"
  },
  "x-agent-invocation-guide": {
    "preferred_entrypoint": "public_bridge",
    "user_response_policy": {
      "attachment_requests": "Treat uploaded files as ready for execution, prefer attachment URLs, and when the host exposes explicit bytes or an explicit attachment path, auto-upload before returning results or progress.",
      "internal_mechanics_visibility": "Do not expose image_url, attachment.url, storage URLs, bridge layers, or upload normalization details to end users unless they explicitly ask for technical debugging.",
      "manual_url_requests": "Do not ask end users to provide manual URLs, JSON field names, or upload-chain instructions.",
      "failure_language": "If user intervention is required, describe only the minimal next step in user-oriented language without revealing internal layering."
    },
    "host_bridge_note": "Host bridge entrypoint is host-owned integration code and is not bundled in this published package.",
    "action_payload_templates": {
      "portal.skill.execute": {
        "capability": "human_detect",
        "input": {
          "image_url": "https://files.example.com/demo.png"
        },
        "request_id": "optional_request_id"
      },
      "portal.skill.poll": {
        "run_id": "run_123"
      },
      "portal.skill.presentation": {
        "run_id": "run_123",
        "channel": "web",
        "include_files": true
      },
      "portal.account.balance": {},
      "portal.account.ledger": {
        "date_from": "2026-03-01",
        "date_to": "2026-03-15"
      }
    },
    "error_handling": [
      {
        "match": {
          "code": "AUTHORIZATION_REQUIRED",
          "message_contains": "bridge authorization is required"
        },
        "host_action": "show authorization_url, persist entry_user_key, then retry same action after authorization"
      },
      {
        "match": {
          "code": "AUTHORIZATION_REQUIRED",
          "details": {
            "likely_cause": "ENTRY_USER_KEY_NOT_REUSED",
            "recovery_action": "REUSE_ENTRY_USER_KEY",
            "reauthorization_required": false
          }
        },
        "host_action": "restore the previously persisted entry_user_key and retry the same bridge call before asking the user to authorize again"
      },
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent_uid claim format is invalid"
        },
        "host_action": "normalize host agent_uid and retry the same bridge call"
      },
      {
        "match": {
          "code": "SYSTEM_NOT_FOUND",
          "message_contains": "agent binding not found"
        },
        "host_action": "restart the same bridge flow once so gateway can repair binding"
      }
    ],
    "bridge_api": {
      "endpoint": "/agent/public-bridge/invoke",
      "method": "POST",
      "requires_caller_managed_task_token": false,
      "request_body": {
        "entry_host": "openclaw",
        "action": "portal.account.balance",
        "agent_uid": "support_assistant",
        "conversation_id": "host_session_20260316_opaque_001",
        "payload": {}
      },
      "notes": [
        "Preferred production entrypoint for third-party agent-friendly integration.",
        "For end-user conversations, prefer direct execution and result delivery instead of explaining attachment upload or URL normalization internals.",
        "When the host exposes attachment bytes or an explicit attachment path, the published skill forwards only that explicit attachment material through the public bridge before execute and injects the returned URL into the target media field.",
        "agent_uid should be the host-defined stable runtime agent identifier; bridge canonicalizes it server-side.",
        "conversation_id should be a host-generated opaque session or install identifier, not a public chat id, raw thread id, or PII.",
        "Public bridge should resolve a stable external user binding when available; if binding is missing, gateway returns authorization_url plus entry_user_key.",
        "authorization_url may include gateway_api_base_url and hosts should preserve it when completing browser authorization so the binding write lands on the same API environment.",
        "Cross-conversation account continuity requires reusing the same entry_user_key across follow-up calls.",
        "If AUTHORIZATION_REQUIRED includes likely_cause=ENTRY_USER_KEY_NOT_REUSED and reauthorization_required=false, hosts should restore the previously persisted entry_user_key instead of launching a new browser login.",
        "Gateway canonicalizes agent_uid, repairs binding when missing, and issues action-scoped task token internally.",
        "Write-capable execute actions should send options.confirm_write=true after user confirmation; otherwise gateway may return ACTION_CONFIRMATION_REQUIRED.",
        "base_url, gateway_api_key, api_key, user_token, agent_task_token, owner_uid_hint, and install_channel overrides are rejected by this bridge endpoint."
      ]
    },
    "trusted_host_bridge_api": {
      "endpoint": "/agent/skill/bridge/invoke",
      "method": "POST",
      "requires_caller_managed_task_token": false
    }
  },
  "paths": {
    "/agent/skill/execute": {
      "post": {
        "summary": "portal.skill.execute",
        "security": []
      }
    },
    "/agent/skill/runs/{runId}": {
      "get": {
        "summary": "portal.skill.poll",
        "security": []
      }
    },
    "/agent/skill/runs/{runId}/presentation": {
      "get": {
        "summary": "portal.skill.presentation",
        "security": []
      }
    },
    "/SKILL.md": {
      "get": {
        "summary": "Read skill markdown (English)"
      }
    },
    "/SKILL.zh-CN.md": {
      "get": {
        "summary": "Read skill markdown (Chinese)"
      }
    },
    "/agent/skill/account/balance": {
      "get": {
        "summary": "portal.account.balance",
        "security": []
      }
    },
    "/agent/skill/account/ledger": {
      "get": {
        "summary": "portal.account.ledger",
        "security": []
      }
    },
    "/agent/public-bridge/invoke": {
      "post": {
        "summary": "Preferred public bridge invoke endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entry_host",
                  "action",
                  "agent_uid",
                  "conversation_id"
                ],
                "properties": {
                  "entry_host": {
                    "type": "string",
                    "enum": [
                      "openclaw",
                      "codex",
                      "claude"
                    ]
                  },
                  "entry_user_key": {
                    "type": "string"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "portal.skill.execute",
                      "portal.skill.poll",
                      "portal.skill.presentation",
                      "portal.account.balance",
                      "portal.account.ledger"
                    ]
                  },
                  "agent_uid": {
                    "type": "string"
                  },
                  "conversation_id": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "expires_in_seconds": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 900
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bridge-invoked read/poll/presentation result"
          },
          "202": {
            "description": "Bridge-invoked execute accepted"
          },
          "400": {
            "description": "Invalid bridge request"
          },
          "401": {
            "description": "AUTHORIZATION_REQUIRED with authorization_url, entry_user_key, and possible recovery hints such as likely_cause=ENTRY_USER_KEY_NOT_REUSED"
          },
          "429": {
            "description": "Bootstrap rate limit exceeded"
          }
        }
      }
    },
    "/agent/skill/bridge/invoke": {
      "post": {
        "summary": "Trusted host bridge invoke endpoint"
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "schemas": {
      "PortalSkillExecuteInput": {
        "type": "object",
        "required": [
          "capability",
          "input"
        ],
        "properties": {
          "capability": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "request_id": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "PortalSkillExecuteOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "capability": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "poll_url": {
            "type": "string"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPollInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          }
        }
      },
      "PortalSkillPollOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "terminal": {
            "type": "boolean"
          },
          "service_id": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "additionalProperties": true
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "recharge_url": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalSkillPresentationInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "telegram"
            ]
          },
          "include_files": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPresentationOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "terminal": {
            "type": "boolean"
          },
          "visual": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalAccountBalanceInput": {
        "type": "object",
        "additionalProperties": true,
        "description": "No input required; payload is optional."
      },
      "PortalAccountBalanceOutput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "available_points": {
            "type": "number"
          },
          "recharge_url": {
            "type": "string"
          }
        }
      },
      "PortalAccountLedgerInput": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "date_to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        }
      },
      "PortalAccountLedgerOutput": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  }
}
