openapi: 3.0.0
info:
  title: Temporam API
  description: API for temporary email receiving functionality.
  version: 1.0.0
servers:
  - url: https://api.temporam.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /domains:
    get:
      summary: List available domains
      operationId: getDomains
      responses:
        '200':
          description: A list of available email domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  error:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        domain:
                          type: string
  /emails:
    get:
      summary: List emails for an address
      operationId: listEmails
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: A list of emails received by the address
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  error:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        subject:
                          type: string
                        from_email:
                          type: string
  /emails/{id}:
    get:
      summary: Get email content
      operationId: getEmailDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Full details of the email
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  error:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      subject:
                        type: string
                      content:
                        type: string
